.step-indicators {
  display: flex;
  gap: 10px;
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-circle.active {
  border-color: white;
  background-color: white;
  color: black;
}